[Desktop Entry]
Name=Radio for COSMIC
Comment=Online Radio for the COSMIC Desktop
Type=Application
Icon=com.marcos.RadioApplet
Exec=cosmic-ext-applet-radio %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
